#test {
  color: red;
}

body {
  display: flex;
  flex-direction: column;
}

#previewSection {
  height: 10vh;
}
#inputSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#inputSection > section {
  /* border: solid 1px;
  margin: 2vh;
  height: 20vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around; */
}
